body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
  height: 100%; /* Added property */
}

a {
  text-decoration: none;
}

main {
  max-width: 100%; /* Modified property */
  margin: 0 auto;
  padding: 2rem;
  max-height: 100%; /* Modified property */
  overflow: auto; /* Modified property */
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%; /* Added property */
  height: 100%; /* Added property */
}

.column {
  flex: 1 1 100%;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .row {
    flex-wrap: nowrap;
  }
  .column {
    flex: 0 0 75%;
    margin-bottom: 0;
  }
  .left {
    width: 100%;
  }
  .right {
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }


.stream {
  width: 100%;
  height: auto;
  max-width: 90vw;
  max-height: 90vh;
  border-radius: 8px;
  object-fit: contain;
}

.compare {
  width: 100%;
  height: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  max-width: 90vw;
  max-height: 90vh;
  border-radius: 8px;
  object-fit: contain;
}
.compare_text{
  display: inline-block;
  padding: 0.2em 0.5em;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.button1 {
  display: block;
  width: 80%;
  padding: 1rem 0.75rem;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to bottom, #5368ff, #2f3cff);
  color: #fff;
  font-size: 1.2rem;
  transition: background-color 0.2s ease-in-out;
  object-fit: contain;

}

.button1:hover {
  background: linear-gradient(to bottom, #2f3cff, #1c23c7);
}

.button2 {
  display: block;
  width: 80%;

  padding: 1rem 0.75rem;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 2rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to bottom, #ff4f4f, #ff3b3b);
  color: #fff;
  font-size: 1.2rem;
  transition: background-color 0.2s ease-in-out;
  object-fit: contain;

}

.button2:hover {
  background: linear-gradient(to bottom, #b92929, #b92929);
}


.result {
  max-width: 10vw;
  max-height: 10vh;
}